@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    
}


#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 60vh 40vh; 
    grid-template-areas: 'historie'
                         'ord';
    
}
#story {
    grid-area: historie;
    background-color: blanchedalmond;
    font-size: 1.7em;
    width: 100vw;
    height: auto;
    text-align: center;
    font-weight: bold;
}
#adjektiv {
    grid-area: ord;
    background: linear-gradient(90deg, rgba(249,239,239,1) 0%, rgba(215,233,241,1) 41%, rgba(202,214,217,1) 100%);
    width: 100vw;
    height: auto;
    
}
.ord input {
    height: 50px;
    width: 500px;
    font-size: 45px;
    position: absolute;
    top: 57%;
    left: 35%
}
.ord p {
    font-size: 25px;
    position: absolute;
    top: 51%;
    left: 36%;
}
.ord button {
    height: 50px;
    width: auto;
    font-size: 35px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 20px;
    
}
.ord button:hover {
    box-shadow: 0px 0px 0px #007144;
    padding: 0px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    background-color: #00AE68;
    color: #FFF;
    border-radius: 5px;
    
} 

#submit {

    position: absolute;
    top: 60%;
    left: 80%;
}
